@model IEnumerable<ERPBO.Inventory.ViewModels.RepairStockInfoViewModel>
@{
    ViewBag.Title = "Repair Stock Info";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-md-3">
                <a href="/Inventory/GetRepairStockDetailInfoList" class="float-left btn btn-sm btn-outline-primary" title="Details View">
                    <i class="fas fa-eye"></i> Go To Details View
                </a>
            </div>
            <div class="col-md-6">
                <h4><b style="color:darkblue">Warehouse Stock List</b></h4>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <hr />
    </div>
    <div class="col-md-12">
        <h5 class="text-cyan"><b>Search By</b></h5>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-3">
                <label for="ddlLineNumber" class="control-label font-weight-bold">Line</label>
                @Html.DropDownList("ddlLineNumber", (IEnumerable<SelectListItem>)ViewBag.ListOfLine, "--Select Line--", new { @class = "form-control form-control-sm ctrl-change" })
            </div>
            <div class="col-md-3">
                <label for="ddlModelName" class="control-label font-weight-bold">Model</label>
                @Html.DropDownList("ddlModelName", (IEnumerable<SelectListItem>)ViewBag.ddlModelName, "--Select Model--", new { @class = "form-control form-control-sm ctrl-change" })
            </div>
            <div class="col-md-3">
                <label for="ddlWarehouse" class="control-label font-weight-bold">Warehouse Name</label>
                @Html.DropDownList("ddlWarehouse", (IEnumerable<SelectListItem>)ViewBag.ddlWarehouse, "--Select Warehouse--", new { @class = "form-control form-control-sm" })
            </div>
            <div class="col-md-3">
                <label for="ddlItemType" class="control-label font-weight-bold">ItemType Name</label>
                <select id="ddlItemType" class="form-control form-control-sm ctrl-change">
                    <option value="">--Select Item Type--</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="ddlItem" class="control-label font-weight-bold">Item Name</label>
                <select id="ddlItem" class="form-control form-control-sm">
                    <option value="">--Select Item--</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label font-weight-bold">Stock Qty (Less then / Equal)</label>
                <input type="number" id="txtLessOrEq" class="form-control form-control-sm" />
            </div>
        </div>
        <hr />
    </div>
    <div class="col-md-12" id="dataContainer">
        @{Html.RenderAction("GetRepairStockInfoList", new { @flag = "search" });}
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlWarehouse = $("#ddlWarehouse");
        var ddlItemType = $("#ddlItemType");
        var ddlItem = $("#ddlItem");
        var ddlLineNumber = $("#ddlLineNumber");
        var ddlModelName = $("#ddlModelName");
        var txtLessOrEq = $("#txtLessOrEq");

        $(document).ready(function () {
        })

        $(document).on('change', '.date-datePicker', function (e) {
            var dateval = $(this).val();
            console.log(dateval);
        })

        //casced dropdown load for itemtype
        ddlWarehouse.change(function () {
            $("#unitName").text('');
            clearDropdown("ddlItemType");
            clearDropdown("ddlItem");
            if (ddlWarehouse.val() != "") {
                LoadDropDown('/Common/GetItemTypeForDDL', 'POST', ddlItemType, JSON.stringify({ warehouseId: ddlWarehouse.val() }));
            }
            LoadDataTable();
        })

        //casced dropdown load for item
        ddlItemType.change(function () {
            $("#unitName").text('');
            clearDropdown("ddlItem");
            if (ddlItemType.val() != "") {
                LoadDropDown('/Common/GetItemForDDL', 'POST', ddlItem, JSON.stringify({ itemTypeId: ddlItemType.val() }));
            }
            LoadDataTable();
        })


        txtLessOrEq.keyup(function () {
            LoadDataTable();
        })


        $(document).on('change', '.ctrl-change', function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { flag: "search", LineId: TryParseInt(ddlLineNumber.val(), 0), ModelId: TryParseInt(ddlModelName.val(), 0), WarehouseId: TryParseInt(ddlWarehouse.val(), 0), ItemTypeId: TryParseInt(ddlItemType.val(), 0), ItemId: TryParseInt(ddlItem.val(), 0),lessOrEq: txtLessOrEq.val() };
            $.when(getReqWithData('html', 'GET', '/Inventory/GetRepairStockInfoList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").empty();
                    $("#dataContainer").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    </script>
}