
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>
        Control Panel
    </li>
    <li>
        <a href="/ControlPanel/ApplicationConfig">
            Application Config
        </a>
    </li>
</ul>

<ul>
    <li>
        Inventory
    </li>
    <li>
        <a href="/Report/InventoryReportPanel">
            Inventory Report Panel
        </a>
    </li>
</ul>



