
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>Inventory</li>
    <li>
        <a href="/Inventory/GetRepairSectionRequisitionInfoList">
           Repair Section Requisition List
        </a>
    </li>
    <li>
        <a href="/Inventory/IssueRepairSectionRequisition?requisitionId=1">
            Issue Repair Section Requisition
        </a>
    </li>
</ul>
<ul>
    <li>
        Production
    </li>
    <li>
        <a href="/Production/CreateProductinAssembleStockTransfer">
            Create Productin Assemble Stock Transfer
        </a>
    </li>
    <li>
        <a href="/Production/GetProductionAssembleStockTransferList">
            Production Assemble Stock Transfer Send
        </a>
    </li>
    <li>
        <a href="/Production/GetProductionAssembleStockTransferReceiveList">
            Production Assemble Stock Transfer Receive
        </a>
    </li>
    <li>
        <a href="/Production/GetProductionAssembleItemStockInfo">
            Production Assemble Item Stock - [9 July-2020]
        </a>
    </li>
    <li>
        <a href="/Production/GetProductionFaultyStockInfo">
            Production Faulty Stock Info - [7 July-2020]
        </a>
    </li>
    <li>
        <a href="/Production/GetFaultyItemStockInfo">
            Repair Faulty Item Stock Info
        </a>
    </li>
    <li>
        <a href="/Production/GetFaultyItemByQRCodeList">
            Faulty ItemBy QR Code
        </a>
    </li>
    <li>
        <a href="/Production/GetRepairSectionFaultyItemTransferList">
            Repair Section Faulty Item Transfer
        </a>
    </li>
    <li>
        <a href="/Production/GetRepairSectionRequisitionInfoList">
            Repair Section Requisition
        </a>
    </li>
</ul>



