
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>
        Control Panel
    </li>
    <li>
        <a href="/ControlPanel/CreateAppUser">
            Create Application User
        </a>
    </li>
    <li>
        <a href="/ControlPanel/CreateAppRole">
            Create Application Role
        </a>
    </li>
    <li>
        <a href="/ControlPanel/AppUserConfiguration">
            App User Configuration
        </a>
    </li>
    <li>
        <a href="/ControlPanel/CreateUserRole">
            Create User Role
        </a>
    </li>
    <li>
        <a href="/ControlPanel/CreateClientUser">
            Create Client User
        </a>
    </li>
    <li>
        <a href="/ControlPanel/ClientUserConfiguration">
            Client User Configuration
        </a>
    </li>
</ul>

<ul>
    <li>
        Inventory
    </li>
    <li>
        <a href="/Report/InventoryReportPanel">
            Inventory Report Panel
        </a>
    </li>
</ul>



