
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>
        Control Panel
    </li>
</ul>

<ul>
    <li>
        Inventory
    </li>
    
</ul>
<ul>
    <li>
        Production
    </li>
    <li>
        <a href="/Production/ProductionBeltConfig">
            Production Belt Config
        </a>
    </li>
</ul>



