
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>
        Production
    </li>
    <li>
        <a href="/Production/GetPackagingLineQC">
            Packaging Line QC
        </a>
    </li>
    <li>
        <a href="/Production/GetPackagingRepairProcess">
            Packaging Repair Process
        </a>
    </li>
    <li>
        <a href="/Production/GetPackagingQCProcess">
            Packaging QC Process
        </a>
    </li>
    <li>
        <a href="/Production/CreatePackagingRepairIMEIScanning">
            IMEI Scanning In Packaging Repair
        </a>
    </li>
</ul>



