
@{
    ViewBag.Title = "Admin Dashboard";
}

<div>Welcome Mr. Admin</div>
<ul>
    <li>
        <a href="/Production/CreateRepairSectionFaultyItemTransfer">
            Create Repair Section Faulty Item Transfer
        </a>
    </li>
    <li>
        <a href="/Production/CreateRepairSectionRequisition">
            Create Repair Section Requisition
        </a>
    </li>
    <li>
        <a href="/Production/GetRepairSectionRequisitionInfoList">
            Repair Section Requisition Info List
        </a>
    </li>
</ul>



