@model IEnumerable<ERPBO.Configuration.ViewModels.MobilePartStockInfoViewModel>
@{
    ViewBag.Title = "Parts Stock List";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/Configuration/MobilePartStockDetailList" style="background-color:darkblue" class="float-left btn btn-sm btn-outline-primary" title="Details View">
                            <i class="fas fa-eye"></i> Go To Details View
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h4><b>Parts Stock List</b></h4>
                    </div>
                    <div class="col-md-3">
                        <a href="/Configuration/CreateMobilePartStock" style="background-color:darkblue" class="btn btn-outline-primary btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Parts Stock-In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <div class="col-md-12 mb-2">
                    @Html.AntiForgeryToken()
                    <div class="row text-sm">
                        <div class="col-md-3 hide">
                            <label for="ddlServicesWarehouse" class="control-label font-weight-bold">Services Warehouse Name</label>
                            @Html.DropDownList("ddlServicesWarehouse", (IEnumerable<SelectListItem>)ViewBag.ddlServicesWarehouse, "--Select MobilePart--", new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-md-2">
                            <label for="ddlMobilePart" class="control-label font-weight-bold">Parts Name</label>
                            @Html.DropDownList("ddlMobilePart", (IEnumerable<SelectListItem>)ViewBag.ddlMobilePart, "--Select Parts--", new { @class = "form-control form-control-sm" })
                        </div>
                        <div class="col-md-2">
                            <label for="txtLessOrEq" class="control-label font-weight-bold">Qty (Less then / Equal)</label>
                            <input type="number" id="txtLessOrEq" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm" id="dataContainer">
                        @{Html.RenderAction("MobilePartStockInfoPartialList");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlServicesWarehouse = $("#ddlServicesWarehouse");
        var ddlMobilePart = $("#ddlMobilePart");
        var txtLessOrEq = $("#txtLessOrEq");
        var pageNo = 1;

        ddlServicesWarehouse.change(function () {
            LoadDataTable();
        })
        ddlMobilePart.change(function () {
            LoadDataTable();
        })
        txtLessOrEq.keyup(function () {
            LoadDataTable();
        })


        function LoadDataTable() {
            var data = { flag: "search", SwerehouseId: TryParseInt(ddlServicesWarehouse.val(), 0), MobilePartId: TryParseInt(ddlMobilePart.val(), 0), lessOrEq: txtLessOrEq.val(), page: pageNo };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/Configuration/MobilePartStockInfoPartialList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
            pageNo = 1;
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTable();
            }
        })
    </script>
    }